<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to WeRide!</title>
    <link rel="stylesheet" href="static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>
    
<body>
    <div id="index_body_banner">
        <div id="index_body_banner_logo" onclick="location.href='index.html'">
            WeRide
        </div>
        <span>together, make the world a better place</span>
        <div id="index_body_banner_login">
            <button id="login_button" onclick="location.href='login.html'">Log in</button>>
            <button id="signup_button" onclick="location.href='signup.html'">Sign up</button>
        </div>
    </div>
    <div id="index_body_main">
        <div id="index_body_main_news">
            <span>Get in the driver’s seat and get paid!</span>
            <span>Drive on the platform with the largest network of active riders!</span>
          
        </div>
    </div>
    
    <script>
        
    </script>

</body>
</html>