<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to WeRide!</title>
    <link rel="stylesheet" href="static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>
    
<body>
    <div id="index_body_banner">
        <div id="index_body_banner_logo" onclick="location.href='index.html'">
            WeRide
        </div>
        <span>together, make the world a better place</span>
        <div id="index_body_banner_login">
            <button id="login_button" onclick="location.href='logout'">Log out</button>>
        </div>
    </div>
    <div id="login_body_main">
      <div id="side_bar">
      <li id="side_bar_name">Hi, {% verbatim %}{{ username }}{% endverbatim%}!</li>
      <li id="side_bar_start" @click="start">Start</li>
      <li id="side_bar_orders" @click="orders">Ride Orders</li>
      <li id="side_bar_drive_orders" @click="drive_orders">Drive Orders</li>
      <li id="side_bar_driver_info" @click="driver">Driver Info</li>
      <li id="side_bar_account" @click="account">Account</li>
      </div>
      <div id="main_content">
        <iframe id="main_iframe" src="/start.html">

        </iframe>
      </div>
      
    </div>
    
    
      <script>
      var app = new Vue({
            el:"#login_body_main",
            data:{
                username:'',
                password:'',
                email:'',
                is_driver:'',
                
            },
            mounted: function() {
              that = this;
              axios.get("/aux_get_user_info").then(function(response) {  
              that.username = response.data[0].fields.username
              that.is_driver = response.data[0].fields.is_driver
              }).catch(function(err) {
                  alert('Error');
              });
            },
            methods: {
              start: function() {
                document.getElementById("main_iframe").src = "/start.html"
              },
              orders: function() {
                document.getElementById("main_iframe").src = "/orders.html"
              },
              drive_orders: function() {
                this.get();
                if (this.is_driver) document.getElementById("main_iframe").src = "/drive_orders.html"
                else document.getElementById("main_iframe").src = "/not_a_driver.html"
              },
              driver: function() {
                this.get()
                if (this.is_driver) document.getElementById("main_iframe").src = "/driver.html"
                else document.getElementById("main_iframe").src = "/not_a_driver.html"
              },
              account: function() {
                document.getElementById("main_iframe").src = "/account.html"
              },
              get: function() {
                that = this;
                axios.get("/aux_get_user_info").then(function(response) {  
                that.username = response.data[0].fields.username
                that.is_driver = response.data[0].fields.is_driver
                }).catch(function(err) {
                    alert('Error');
                });
              }
            },

        
            

        });

        
    </script>

</body>
</html>