<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to WeRide!</title>
    <link rel="stylesheet" href="static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
        h1 {
            margin-top: 20px;
            margin-left: 30px;

        }
    </style>
</head>
    
<body>
    <div id="index_body_banner">
        <div id="index_body_banner_logo" onclick="location.href='index.html'">
            WeRide
        </div>
        <span>together, make the world a better place</span>
        <div id="index_body_banner_login">
            <button id="login_button" onclick="location.href='login.html'">Log in</button>>
            <button id="signup_button" onclick="location.href='signup.html'">Sign up</button>
        </div>
    </div>
    <h1> Please log in first, Thank you!</h1>
    
    


</body>
</html>